/* Make Circle light up when X is pressed */
#gamepad-1-button-2.active ~ #gamepad-1-button-1 {
  background: rgba(255, 0, 0, 0.7) !important;
}

/* Make X light up when Square is pressed */
#gamepad-1-button-3.active ~ #gamepad-1-button-2 {
  background: rgba(0, 0, 255, 0.7) !important;
}

/* Make Square light up when R3 is pressed */
#gamepad-1-button-10.active ~ #gamepad-1-button-3 {
  background: rgba(255, 128, 0, 0.7) !important;
}
